<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lista delle Destinazioni</h1>
    {% for destinazione in destinazioni %}
    <p>{{ destinazione.citta }} - {{ destinazione.nazione }}</p>
    <div>
      <p>Viaggiatore</p>
      {% for viaggiatore in destinazione.viaggiatori %}
      <li>
        {{ viaggiatore.nominativo }} - {{ viaggiatore.cognome }} - {{
        viaggiatore.data_nascita }} - {{ viaggiatore.email }} - {{
        viaggiatore.telefono }} - {{ viaggiatore.indirizzo }}
      </li>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
